.main-container {
    min-height: 100vh;
}

.container {
    width: 640px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 120px;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
}

.container hr {
    height: 2px;
    border: none;
    background: #707070;
}

.container h2 {
    font-size: 27px;
    font-weight: 500;
}

.container ul li {
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

.container button {
    margin: auto;
    width: 250px;
    height: 65px;
    background: #553f9a;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
}

.container .index {
    margin: auto;
    font-size: 18px;
}

.container .correct {
    background: #8ab9a5;
    border-color: #00d397;
}

.container .wrong {
    background: #ef8787;
    border-color: #ec4646;
}

.score {
    text-align: center;
    padding: 30px;
}

.score1 {
    font-weight: bolder;
}

.score2 {
    font-weight: bolder;
}

.que1 {
    font-weight: bolder;
}

.que2 {
    font-weight: bolder;
}

@media(min-width:650px) and (max-width:800px) {
    .container {
        width: 540px;
    }
}

@media(max-width:650px) {
    .container {
        width: 400px;

    }
}

@media(max-width:516px) {
    .container {
        width: 280px;
    }
}